@font-face {
  font-family: 'AtlasGrotesk-Regular';
  src: url(asset_path("AtlasGrotesk-Regular-Web.woff")) format('woff')
}

@font-face {
  font-family: 'AtlasGrotesk-Medium';
  src: url(asset_path("AtlasGrotesk-Medium-Web.woff")) format('woff')
}

@font-face {
  font-family: 'AtlasGrotesk-Bold';
  src: url(asset_path("AtlasGrotesk-Bold-Web.woff")) format('woff')
}
