.container {
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 3em;
}

// Layout: Sidebar and main view
// -------------------------------------------------

.aside-main {

  display: flex;

  main {
    flex: 1;
  }

  aside {
    flex: 0 0 200px;
  }

}

// Layout: Two grid
// -------------------------------------------------

.two-grid {
  display: flex;
  .grid-item {
    flex: 1;
  }
}
