.code-box {
  &.do {
    .caption {
      color: green;
    }
    pre {
      background-color: green;
    }
  }
  &.dont {
    .caption {
      color: red;
    }
    pre {
      background-color: red;
    }
  }
}
