body {
  font-size: 100%;
  font-family: $fontNormal;
  color: $fontBlack;
  font-weight: 400;
}

a {
  color: $fontBlack;
  text-decoration: none;
  border-bottom: 1px solid $fontGrayLight;
}

p {
  font-size: 1.15em;
  line-height: 1.6em;
}

strong {
  font-family: $fontBold;
  font-weight: 700;
}

h1 {
  font-size: 2.4em;
  line-height: 0.95em;
  letter-spacing: -0.02em;
  font-family: $fontBold;
  margin-bottom: 0.1em;
  font-weight: 700;
}

h2 {
  -webkit-font-smoothing: antialiased;
  font-size: 1.8em;
  line-height: 0.95em;
  letter-spacing: -0.02em;
  font-family: $fontBold;
  margin-bottom: 0.1em;
  font-weight: 500;
}

code {
  color: $fontBlack;
  font-size: 0.95em;
  line-height: 1.3em;
  max-width: 730px;
  background-color: $colorGrayLight;
  padding: 0.1em 0.3em;
  font-family: $fontCode;
}

.caption, figcaption {
  color: $fontGray;
}
